body {
    background: blanchedalmond;
    color: black;
    font-family: Helvetica, sans-serif;
}
p {
    color: black; /* цвет текста параграфов */
    font-family: Helvetica, sans-serif; /* гарнитура шрифта параграфов */
    font-size: 110%; /* размер шрифта */

   }

h3 {
    color: black; /* цвет текста параграфов */
    font-family: Helvetica, sans-serif; /* гарнитура шрифта параграфов */
    font-size: 110%; /* размер шрифта */

   }